<div class="alert alert-block alert-success">
    <h1 align="center">Machine Learning in Python</h1>
    <h3 align="center">Session 02-2: Pandas (Data Selection)</h3>
    <h4 align="center"><a href="http://www.iran-machinelearning.ir">Soheil Tehranipour</a></h5>
</div>

In [1]:
#Let's Import the Packages...
import numpy as np
import pandas as pd

<img src="https://rolkra.github.io/images/explore-count-titanic.jpg"/>

In [2]:
type (titanic)

NameError: name 'titanic' is not defined

In [ ]:
#Let's Read csv file
titanic = pd.read_csv(r"C:\Users\rayanpartov\Desktop\Utech\Session 2\titanic.csv")
#Show some records of dataframe
titanic.sample(5)

## How do I select a subset of a DataFrame?¶

In this case, a subset of both rows and columns is made in one go and just using selection brackets [] is not sufficient anymore. The loc/iloc operators are required in front of the selection brackets []. When using loc/iloc, the part before the comma is the rows you want, and the part after the comma is the columns you want to select.

# Indexing and Selecting data

### Selecting a single column

In [4]:
single_column = titanic['age']
single_column

0       29.00
1        0.92
2        2.00
3       30.00
4       25.00
        ...
1304    14.50
1305      NaN
1306    26.50
1307    27.00
1308    29.00
Name: age, Length: 1309, dtype: float64

In [5]:
type(single_column)

pandas.core.series.Series

### Selecting multiple columns

In [6]:
multiple_column = titanic[['age','pclass','fare']]
multiple_column

        age  pclass      fare
0     29.00       1  211.3375
1      0.92       1  151.5500
2      2.00       1  151.5500
3     30.00       1  151.5500
4     25.00       1  151.5500
...     ...     ...       ...
1304  14.50       3   14.4542
1305    NaN       3   14.4542
1306  26.50       3    7.2250
1307  27.00       3    7.2250
1308  29.00       3    7.8750

[1309 rows x 3 columns]

<img src="https://shanelynnwebsite-mid9n9g1q9y8tt.netdna-ssl.com/wp-content/uploads/2016/10/Pandas-selections-and-indexing-1024x731.png" width=100%>

# REMEMBER

* When selecting subsets of data, square brackets [] are used.

* Inside these brackets, you can use a single column/row label, a list of column/row labels, a slice of labels, a conditional expression or a colon.

* Select specific rows and/or columns using loc when using the row and column names

* Select specific rows and/or columns using iloc when using the positions in the table

# iloc

### The .iloc attribute is the primary access method. The following are valid inputs:

- An integer e.g. 5.

- A list or array of integers [4, 3, 0].

- A slice object with ints 1:7.

- A boolean array.

- A callable, see Selection By Callable.

<img src="https://www.marsja.se/wp-content/uploads/2019/09/pandas_select_row_by_index_iloc.png">

### Selecting a single row

In [ ]:
titanic

In [ ]:
titanic.iloc[3]

### Selecting multiple rows

In [ ]:
titanic.iloc[[3, 5, 7]]

### Selecting two rows and three columns

In [ ]:
titanic.iloc[[3, 4], [1, 2,6]]

### Selecting some rows and some columns

I’m interested in rows 10 till 25 and columns 3 to 5.

In [ ]:
titanic.iloc[9:25, 2:5]

### Selecting all the rows and a some columns

<img src="https://www.marsja.se/wp-content/uploads/2019/09/iloc_select_all_rows_and_first_column_in_pandas.png">

In [ ]:
titanic.iloc[:, [1, 2]]

In [ ]:
titanic

In [ ]:
col=[False, False, True, True, True,False, False, True, True, True,False, False, True, True]

In [ ]:
titanic.iloc[1:10,col]

## .Loc

In [ ]:
#Let's Read csv file
titanic2 = pd.read_csv(r"C:\Users\soso\Desktop\titanic.csv",index_col ="name")

In [ ]:
titanic2

### Selecting a single row

In [ ]:
titanic.loc[1]

In [ ]:
#titanic2.loc[1]
titanic2.loc['Allen, Miss. Elisabeth Walton']

### Selecting multiple rows

In [ ]:
titanic2.loc[['Allen, Miss. Elisabeth Walton','Allison, Miss. Helen Loraine']]

### Selecting two rows and three columns

In [ ]:
titanic2.loc[['Allen, Miss. Elisabeth Walton','Allison, Miss. Helen Loraine'],['pclass','embarked','sibsp']]

### Selecting all the rows and a some columns

In [ ]:
titanic2.loc[:,['pclass','embarked','fare']]

# Query()

In [ ]:
pd.read_sq

In [ ]:
titanic.query('survived == 1 and embarked =="S" and pclass == 1 and fare > 200')

In [ ]:
titanic.loc[(titanic.survived==1)&(titanic.embarked=='S')&(titanic.fare>200)&(titanic.pclass==1)]

In [ ]:
titanic.embarked.unique()

In [ ]:
titanic[(titanic['pclass']==1) & (titanic['embarked']=='S') & (titanic['fare']>200) & (titanic['survived']==1)]